@import '../breakpoints';

.columns {
  display: flex;

  .right-column {
    display: flex;
    padding: 20px;
    flex: 2;
    width: 100%;
    flex-direction: column;

    a {
      margin: 0px 20px;
    }
  }

  .left-column {
    padding: 20px;
    flex: 1;
  }

  @media (min-width: $breakpoint-desktop) {
    .right-column, .left-column {
      padding: 40px;
      flex-direction: row;
    }
  }
}
