/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  color: #353535;

  .wf-active & {
    font-family: Lato, sans-serif;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  color: #e91e63;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
