/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  background: #d7d5d8;
  color: #353535;

  .wf-active & {
    font-family: Lato, sans-serif;
  }
}
