.name, .email, .phone {
  display: flex;

  justify-items: center;
  align-items: center;

  text-decoration: none;
}

.nameText, .emailText, .phoneText {
  margin-left: 10px;
}

.container {
  font-size: .8rem;

  & > div,
  & > a {
    margin-bottom: 3px;
    color: #6e6c6f;
  }

  .name {
    color: #353535;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .title {
    font-style: italic;
    margin-bottom: 10px;
    color: #353535;
  }
}
