@import './breakpoints';
$icon-height: 260px;
$icon-width: 135px;

.cv-canvas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cv-wrapper {
  width: 100%;
  padding: 40px 0px;

  @media (min-width: $breakpoint-desktop) {
    max-width: 900px;
  }
}

.columns {
  display: flex;

  .right-column {
    padding: 40px;
    flex: 2;
    width: 100%;
  }

  .left-column {
    padding: 40px;
    flex: 1;
  }

  @media (min-width: $breakpoint-desktop) {
    .right-column {
      width: initial;
    }

    .left-column {
      padding: 40px;
      flex: 1;
    }
  }

}

.icon-wrapper {
  position: relative;
  height: 400px;
}

.icon {
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 0px;
  background-image: url("https://static.gthanasis.com/portofolio-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $icon-width $icon-height;
  width: $icon-width;
  height: $icon-height;
  margin-bottom: 100px;
}

.icon-ghost {
  position: absolute;
  top: 26px;
  width: 133px;
  left: 46px;
  height: 247px;
  border: 1px solid black;
  border-radius: 3px;
}

.icon-ghost-contact {
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 40px;
  width: 280px;

  left: 110px;
  transform: scale(0.8);

  @media (min-width: $breakpoint-desktop) {
    left: 140px;
    transform: scale(1);
  }
}

.side-scroll {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar { display: none; }

  & > * {
    width: 80%;
    flex: 0 0 auto;
    margin-right: 3px;
  }

  &:after {
    content: "Wait, there is more »";
    position: absolute;
    top: 50%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    color: #333;
    background: white;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px 5px;
    box-shadow: 0px 0px 6px 0px #00000082;
  }

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.references {
  display: flex;

  justify-content: center;
  align-content: center;


  justify-items: center;
  align-items: center;

  .reference {
    width: 50%;
    margin-right: 20px;
  }
}

.sidenav {
  display: none;
  @media (min-width: $breakpoint-desktop) {
    display: initial;
  }
}
