.cv-canvas {
  height: 100vh;

  display: flex;

  justify-content: center;
  align-content: center;
}

.cv-wrapper {
  width: 900px;
  padding: 40px 0px;
}

.columns {
  display: flex;

  .rightColumn {
    padding: 40px;
    flex: 2;
  }

  .leftColumn {
    padding: 40px;
    flex: 1;
  }
}

.iconWrapper {
  position: relative;
  height: 400px;
}

.icon {
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 0px;
  background-image: url("https://static.gthanasis.com/portofolio-photo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 135px 260px;
  width: 135px;
  height: 260px;
  margin-bottom: 100px;
}

.iconGhost {
  position: absolute;
  top: 26px;
  width: 133px;
  left: 46px;
  height: 247px;
  border: 1px solid black;
  border-radius: 3px;
}

.iconGhostContact {
  position: absolute;
  top: 70px;
  left: 155px;
  background: white;
  border-radius: 3px;
}

.signature {
  height: 400px;
}
