.container {
  margin: 5px;
  padding: 0px 0px 0px 15px;
}

.item {
  color: #353535;
  margin-bottom: 10px;
}

.item span {
  color: #6e6c6f;
  margin-left: 10px;
  text-align: left;
  display: block;
}
