.container {
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .9rem;
  margin-bottom: 5px;
  color: #353535;
}

.separator {
  margin: 5px 10px;
  border-right: 1.5px solid #353535;
}
